<script>
export default {
  name: "DocumentViewer",
  props: {
    url: {
      type: String,
      required: true,
    },
    fileName: {
      type: String,
      required: true,
    },
    icon: {
      type: String,
      required: true,
    },
  },
  data: () => {
    return {
      dialog: false,
      loading: true,
    }
  },
  computed: {
    getUrl() {
      return `https://docs.google.com/gview?url=${this.url}&embedded=true`
    },
  },
  methods: {
    iframeIsLoaded() {
      this.loading = false
    },
  },
}
</script>

<template>
  <v-dialog v-model="dialog" width="1200">
    <template v-slot:activator="{ on }">
      <v-btn text v-on="on"
        ><v-icon class="mr-3">{{ icon }}</v-icon
        >{{ fileName }}</v-btn
      >
    </template>

    <v-card :loading="loading">
      <iframe width="100%" height="1000" :src="getUrl" id="iframe" frameborder="0" @load="iframeIsLoaded"></iframe>
    </v-card>
  </v-dialog>
</template>
