<script>
import DocumentViewer from "@/components/DocumentViewer.vue"

export default {
  name: "DocumentsContent",
  components: {
    DocumentViewer,
  },
  props: {
    title: {
      type: String,
      required: true,
    },
    items: {
      type: Array,
      required: true,
    },
  },
  methods: {
    getLink(link) {
      if (link.match(/ФГОС ВО 3\+\//) !== null) {
        return link.replace("ФГОС ВО 3+", "ФГОС%20ВО%203%2B")
      } else {
        return link.replace("ФГОС ВО 3++", "ФГОС%20ВО%203%2B%2B")
      }
    },
  },
}
</script>

<template>
  <v-expansion-panels accordion>
    <v-expansion-panel>
      <v-expansion-panel-header>{{ title }}</v-expansion-panel-header>
      <v-expansion-panel-content
        ><v-card class="mx-auto">
          <v-list>
            <v-list-item-group v-if="title == 'Отчёты о практиках' || title == 'Рабочие программы'">
              <v-list-item v-for="(item, i) in items" :key="i" :href="item.link" target="_blank">
                <v-list-item-icon>
                  <v-icon>save_alt</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title v-text="item.name"></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
            <v-list-item-group v-else>
              <v-list-item v-for="(item, i) in items" :key="i">
                <v-list-item-content>
                  <v-list-item-title
                    ><DocumentViewer :fileName="item.name" :url="getLink(item.link)" icon="description"
                  /></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-card>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</template>
