<script>
import { mapActions, mapGetters } from "vuex"
export default {
  name: "UserInfo",

  data() {
    return { user_menu: false, user: this.$store.getters.getUser, disable: false }
  },
  methods: {
    ...mapActions(["removeUser"]),
    ...mapGetters(["getFullFIO", "getShortFIO"]),
    logout() {
      this.removeUser()
      if (this.$route.path !== "/") this.$router.push("/")
    },
    goto_lk() {
      this.$router.push("/dashboard")
    },
    getRole: (role) => {
      return role == "Student" ? `Cтудент` : "Преподаватель"
    },
  },
}
</script>

<template>
  <v-menu v-model="user_menu" :close-on-content-click="false" :nudge-width="200" offset-x>
    <template v-slot:activator="{ on }">
      <v-btn color="white" text v-on="on">
        <v-icon>person</v-icon>
        {{ getShortFIO() }}
      </v-btn>
    </template>

    <v-card class="user_card">
      <v-card-title>
        <v-list class="transparent">
          <v-list-item>
            <v-list-item-avatar>
              <img src="https://ru.seaicons.com/wp-content/uploads/2015/09/Student-3-icon.png" alt="user" />
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title class="text-wrap white--text">Логин: {{ user.user.username }} </v-list-item-title>
              <v-list-item-subtitle class="white--text">Роль: {{ getRole(user.role) }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-actions class="justify-center">
        <v-switch v-model="$vuetify.theme.dark" label="Вкл/выкл тёмную тему"></v-switch>
      </v-card-actions>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn text @click="goto_lk" :disabled="this.$route.path == '/dashboard'" color="white">
          <v-icon>class</v-icon>Перейти в ЛК
        </v-btn>
        <v-btn text @click="logout" color="white">Выйти<v-icon>logout</v-icon> </v-btn>
        <v-spacer></v-spacer>
      </v-card-actions>
    </v-card>
  </v-menu>
</template>

<style>
.user_card {
  border-radius: 15px !important;
  background: linear-gradient(0deg, rgb(37, 42, 144) 0%, rgb(37, 42, 245) 100%);
}
</style>
