<script>
import { mapGetters, mapActions } from "vuex"

export default {
  name: "StudentDashboard",
  data: () => ({
    access: true,
    subjects: [],
    load: true,
    journal: [
      {
        name: "Посещения",
        link: "visit",
      },
      {
        name: "Выполнение практических работ",
        link: "works",
      },
      {
        name: "Зачётная ведомость",
        link: "exam",
      },
    ],
  }),
  computed: {
    ...mapGetters(["getSubjects", "getPk", "getGroup", "getDebts"]),
    getDebtsCount() {
      let k = 0
      this.getDebts.forEach((el) => {
        if (el.score == "-" || el.score == "Не зачёт" || el.score == "Неудовлетворительно") {
          k++
        }
      })
      return k
    },
  },
  created() {
    if (this.getSubjects.length === 0) {
      this.fetchSubjects().then(() => {
        this.fetchDebts({ pk: this.getPk, group: this.getGroup }).then(() => {
          this.load = false
        })
      })
    } else {
      this.load = false
    }
  },
  methods: {
    ...mapActions(["fetchSubjects", "fetchDebts"]),
    getTeacherFullName: (teacher) => {
      return `${teacher.user.last_name} ${teacher.user.first_name} ${teacher.user.patronymic}`
    },
    checkDebt(subject) {
      let r = ""
      this.getDebts.forEach((el) => {
        if (el.subject == subject) {
          if (el.score == "-" || el.score == "Не зачёт" || el.score == "Неудовлетворительно") {
            r = "less"
          } else {
            r = "greater"
          }
        }
      })
      if (r == "less") {
        this.access = false
        return "less"
      } else {
        return "greater"
      }
    },
  },
}
</script>

<template>
  <div>
    <v-card elevation="5" class="mx-auto">
      <v-card-text
        ><h1 class="mt-4 display-1 text-center mb-5">Личный кабинет студента</h1>
        <v-skeleton-loader
          class="mx-auto"
          type="list-item-three-line, divider, list-item-three-line, divider, list-item-three-line, divider, list-item-three-line, divider, list-item-three-line"
          v-if="load"></v-skeleton-loader>
        <v-expansion-panels accordion class="mb-7" v-else>
          <v-expansion-panel v-for="(subject, i) in getSubjects" :key="i" :class="checkDebt(subject.name)">
            <v-expansion-panel-header>{{ subject.name }}</v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title class="text-wrap"
                    >Преподаватель: {{ getTeacherFullName(subject.teacher) }}</v-list-item-title
                  >
                  <v-list-item-subtitle class="text-wrap"
                    >Должность: {{ subject.teacher.position }}</v-list-item-subtitle
                  >
                </v-list-item-content>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>Семестр: {{ subject.semestr }}</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>Итог: {{ subject.final_result }}</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-divider></v-divider>
              <v-expansion-panels accordion>
                <v-expansion-panel>
                  <v-expansion-panel-header>Ведомости</v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <v-card class="mx-auto">
                      <v-list>
                        <v-list-item-group>
                          <v-list-item
                            v-for="(item, i) in journal"
                            :key="i"
                            @click="$router.push(`${item.link}/${subject.group.name}/${subject.name}`)">
                            <v-list-item-icon>
                              <v-icon>login</v-icon>
                            </v-list-item-icon>
                            <v-list-item-content>
                              <v-list-item-title v-text="item.name" class="text-wrap"></v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>
                        </v-list-item-group>
                      </v-list>
                    </v-card>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-card-text>
    </v-card>
    <v-card class="mx-auto mt-3 mb-7" v-if="!load">
      <h1 class="mt-4 text-center text-xl-h4 text-md-body-1 text-sm-body-2 text-lg-h6 text-caption pt-5">
        Допуск к государственным экзаменам
      </h1>
      <v-card-text>
        <div>
          <div class="d-flex flex-column mb-6">
            <v-card
              class="pa-5 mt-4 text-xl-h6 text-md-body-1 text-sm-body-2 text-lg-h6 text-caption greater"
              outlined
              tile
              v-if="access">
              На основе текущей успеваемости, вы будете допущены к государственным экзаменам.
            </v-card>
            <v-card
              class="pa-5 mt-4 text-xl-h6 text-md-body-1 text-sm-body-2 text-lg-h6 text-caption less"
              outlined
              tile
              v-else>
              На основе текущей успеваемости, вы не будете допущены к государственным экзаменам, пока не закроете
              долги.<br />
              Предметы по которым вы имеете академическую задолженость выделены рамкой красного цвета слева.
            </v-card>
          </div>
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>

<style scoped>
table th + th {
  border-left: 1px solid rgba(255, 255, 255, 0.12);
}
table td + td {
  border-left: 1px solid rgba(255, 255, 255, 0.12);
}
.greater {
  border-left: 7px solid green;
}
.less {
  border-left: 7px solid red;
}
</style>
