<script>
import { mapGetters, mapActions } from "vuex"

export default {
  name: "TeacherDashboard",
  data: () => ({
    subjects: [],
    load: true,
    journal: [
      {
        name: "Посещения",
        link: "visit",
      },
      {
        name: "Выполнение практических работ",
        link: "works",
      },
      {
        name: "Зачётная ведомость",
        link: "exam",
      },
    ],
  }),
  computed: {
    ...mapGetters(["getSubjects"]),
  },
  created() {
    if (this.getSubjects.length === 0) {
      this.fetchSubjects().then(() => {
        this.load = false
      })
    } else {
      this.load = false
    }
  },
  methods: {
    ...mapActions(["fetchSubjects"]),
  },
}
</script>

<template>
  <v-card elevation="5" class="mx-auto">
    <v-card-text
      ><h1 class="mt-4 display-1 text-center mb-5">Личный кабинет преподавателя</h1>
      <v-skeleton-loader
        class="mx-auto"
        type="list-item-three-line, divider, list-item-three-line, divider, list-item-three-line, divider, list-item-three-line, divider, list-item-three-line"
        v-if="load"></v-skeleton-loader>
      <v-expansion-panels accordion class="mb-7" v-else>
        <v-expansion-panel v-for="(subject, i) in getSubjects" :key="i">
          <v-expansion-panel-header>{{ subject.name }}</v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title>Группа: {{ subject.group.name }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title>Семестр: {{ subject.semestr }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title>Итог: {{ subject.final_result }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-divider></v-divider>
            <v-expansion-panels accordion>
              <v-expansion-panel>
                <v-expansion-panel-header>Ведомости</v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-card class="mx-auto">
                    <v-list>
                      <v-list-item-group>
                        <v-list-item
                          v-for="(item, i) in journal"
                          :key="i"
                          @click="$router.push(`${item.link}/${subject.group.name}/${subject.name}`)">
                          <v-list-item-icon>
                            <v-icon>login</v-icon>
                          </v-list-item-icon>
                          <v-list-item-content>
                            <v-list-item-title v-text="item.name" class="text-wrap"></v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>
                      </v-list-item-group>
                    </v-list>
                  </v-card>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-card-text>
  </v-card>
</template>
