<script>
export default {
  name: "Signature",
  props: {
    finalName: {
      type: String,
      required: true,
    },
    subject: {
      type: String,
      required: true,
    },
    group: {
      type: String,
      required: true,
    },
    semestr: {
      type: String,
      required: true,
    },
    result: {
      type: String,
      required: true,
    },
  },
  methods: {
    getTooltip(result) {
      if (result == "Зачёт") {
        return "Результатом является оценка сдал / не сдал"
      } else {
        return `Результатом является оценка от неудовлитворительно до отлично`
      }
    },
  },
}
</script>

<template>
  <div>
    <v-card class="mx-auto mt-3 mb-7">
      <v-card-title class="justify-center"> Информация о {{ finalName }} </v-card-title>
      <v-card-text>
        <v-simple-table>
          <template v-slot:default>
            <tbody>
              <tr>
                <td width="350"><v-icon class="mr-2">article</v-icon>Дисциплина</td>
                <td>{{ subject }}</td>
              </tr>
              <tr>
                <td><v-icon class="mr-2">group</v-icon>Группа</td>
                <td>{{ group }}</td>
              </tr>
              <tr>
                <td><v-icon class="mr-2">numbers</v-icon>Семестр</td>
                <td>{{ semestr }}</td>
              </tr>
              <tr>
                <td><v-icon class="mr-2">format_quote</v-icon>Тип оценивания</td>
                <td>
                  {{ result }}
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-icon dark v-bind="attrs" v-on="on"> help_outline </v-icon>
                    </template>
                    <span>{{ getTooltip(result) }}</span>
                  </v-tooltip>
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-card-text>
    </v-card>
  </div>
</template>

<style>
table th + th {
  border-left: 1px solid rgba(255, 255, 255, 0.12);
}
table td + td {
  border-left: 1px solid rgba(255, 255, 255, 0.12);
}
</style>
