<script>
import dateMixin from "@/mixins/dateMixin.js"
import journalMixin from "@/mixins/journalMixin.js"
import { mapGetters } from "vuex"
import ExamInfo from "@/components/Exam/ExamInfo.vue"

export default {
  name: "ExamStudentTable",
  components: { ExamInfo },
  mixins: [dateMixin, journalMixin],
  props: {
    group: {
      type: String,
      required: true,
    },
    subject: {
      type: String,
      required: true,
    },
    data: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      marks: [],
      exam_info: undefined,
    }
  },
  created() {
    this.exam_info = {
      semestr: this.data[0].subject.semestr,
      teacher: this.getFIO(this.data[0].subject.teacher.user),
      final_result: this.data[0].subject.final_result,
    }
    this.data.forEach((el) => {
      this.marks.push({ student: this.getFIO(el.student.user), result: el.score })
    })
  },
  computed: {
    ...mapGetters(["getFinalScore"]),
    getFinalResult() {
      return this.exam_info.final_result == "Экзамен" ? "экзамене" : "зачёте"
    },
  },
}
</script>

<template>
  <div>
    <v-simple-table class="mt-5">
      <template v-slot:default>
        <thead>
          <tr>
            <th>ФИО</th>
            <th class="text-center">Результат</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(mark, i) in marks" :key="i">
            <td>{{ mark.student }}</td>
            <td class="text-center" color="primary">{{ formatedResult(mark.result) }}</td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
    <ExamInfo
      :finalName="getFinalResult"
      :subject="subject"
      :group="group"
      :semestr="exam_info.semestr"
      :result="exam_info.final_result" />
  </div>
</template>

<style scoped>
table th + th {
  border-left: 1px solid rgba(255, 255, 255, 0.12);
}
table td + td {
  border-left: 1px solid rgba(255, 255, 255, 0.12);
}
table > tbody > tr > td:nth-child(1),
table > thead > tr > th:nth-child(1) {
  position: sticky !important;
  position: -webkit-sticky !important;
  left: 0;
  z-index: 9998;
}
table > thead > tr > th:nth-child(1) {
  z-index: 9999;
}
</style>
