<script>
import dateMixin from "@/mixins/dateMixin.js"
import journalMixin from "@/mixins/journalMixin.js"
import Signature from "@/components/Exam/Signature.vue"
import ExamInfo from "@/components/Exam/ExamInfo.vue"
import { mapGetters, mapActions } from "vuex"
import pdfMake from "pdfmake/build/pdfmake"
import pdfFonts from "pdfmake/build/vfs_fonts"
pdfMake.vfs = pdfFonts.pdfMake.vfs

export default {
  name: "ExamTeacherTable",
  components: { Signature, ExamInfo },
  mixins: [dateMixin, journalMixin],
  props: {
    group: {
      type: String,
      required: true,
    },
    subject: {
      type: String,
      required: true,
    },
    data: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      dialog: false,
      mark: "",
      exam_info: undefined,
      results: [],
      tooltip: false,
    }
  },
  created() {
    this.exam_info = {
      semestr: this.data[0].subject.semestr,
      final_result: this.data[0].subject.final_result,
    }
    this.data.forEach((el) => {
      this.results.push({ student: this.getFIO(el.student.user), result: el.score, editable: false, pk: el.pk })
    })
  },
  watch: {
    tooltip() {
      if (this.tooltip == true) {
        setTimeout(() => {
          this.tooltip = false
        }, 3000)
      }
    },
  },
  computed: {
    ...mapGetters(["getFullFIO"]),
    getFinalResult() {
      return this.exam_info.final_result == "Экзамен" ? "экзамене" : "зачёте"
    },
  },
  methods: {
    ...mapActions(["updateMark"]),
    getMarks: (final_result) => {
      return final_result == "Зачёт"
        ? ["Зачёт", "Не зачёт", "-"]
        : ["Отлично", "Хорошо", "Удовлетворительно", "Неудовлетворительно", "-"]
    },
    editItem(item) {
      item.editable = true
      this.mark = item.result
    },
    saveItem(item) {
      item.result = this.mark
      this.updateMark({ pk: item.pk, mark: item.result })
      item.editable = false
      this.tooltip = true
    },
    table(data, columns) {
      return {
        table: {
          headerRows: 1,
          body: this.buildTableBody(data, columns),
          widths: [250, "*"],
        },
      }
    },
    buildTableBody(data, columns) {
      var body = []

      body.push(["Фамилия Имя Отчество", "Результат"])

      data.forEach(function (row) {
        var dataRow = []

        columns.forEach(function (column) {
          dataRow.push(row[column])
        })

        body.push(dataRow)
      })

      return body
    },
    createPdf(signature_data) {
      this.dialog = false
      var dd = {
        styles: {
          header: {
            fontSize: 22,
            bold: true,
            alignment: "center",
          },
        },
        content: [
          { text: "Зачётная ведомость", style: "header" },
          { text: " " },
          this.table(this.results, ["student", "result"]),
          { text: " " },
          {
            text: ["Дисциплина: ", { text: `${this.subject}`, bold: true }],
          },
          {
            text: ["Группа: ", { text: `${this.group}`, bold: true }],
          },
          {
            text: ["Семестр: ", { text: `${this.exam_info.semestr}`, bold: true }],
          },
          {
            text: ["Тип оценивания: ", { text: `${this.exam_info.final_result}`, bold: true }],
          },
          {
            text: [
              "Дата создания ведомости: ",
              {
                text: this.getFullDate(new Date()),
                bold: true,
                decoration: "underline",
              },
            ],
          },
          {
            text: ["Преподаватель: ", { text: `${this.getFullFIO}`, bold: true, decoration: "underline" }],
          },
          { text: " " },
          {
            columns: [
              {
                width: "10%",
                text: [{ text: `Подпись:`, italics: true }],
                margin: [0, 25],
              },
              {
                image: signature_data,
                width: 300,
              },
            ],
            columnGap: 10,
          },
        ],
      }
      pdfMake.createPdf(dd).download(`${this.group}-${this.subject}.pdf`)
    },
  },
}
</script>

<template>
  <div>
    <v-alert :value="tooltip" elevation="3" outlined dense dismissible type="success" class="mt-2"
      >Оценка успешно выставлена</v-alert
    >
    <v-simple-table class="mt-5" id="my-table">
      <template v-slot:default>
        <thead>
          <tr>
            <th>ФИО</th>
            <th class="text-center">Результат</th>
            <th class="text-center">Поставить / изменить оценку</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(result, i) in results" :key="i">
            <td>{{ result.student }}</td>
            <td class="text-center" color="primary">
              <v-select
                v-if="result.editable"
                v-model="mark"
                :items="getMarks(exam_info.final_result)"
                label="Оценка"
                outlined
                dense
                hide-details="auto"
                ><template v-slot:selection="{ item }">
                  <span class="d-flex justify-center" style="width: 100%">
                    {{ item }}
                  </span>
                </template></v-select
              >
              <v-col cols="12" v-else>{{ formatedResult(result.result) }}</v-col>
            </td>
            <td class="text-center">
              <v-icon @click="editItem(result)" v-if="!result.editable">edit</v-icon
              ><v-icon @click="saveItem(result)" v-else>done</v-icon>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <v-dialog v-model="dialog" width="650" style="z-index: 99999">
              <template v-slot:activator="{ on }">
                <v-col class="text-center green" v-on="on" style="cursor: pointer">
                  <v-icon>picture_as_pdf</v-icon><span class="pl-3">Создать ведомость</span>
                </v-col>
              </template>

              <v-card>
                <Signature @submit="createPdf" />
              </v-card>
            </v-dialog>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
    <ExamInfo
      :finalName="getFinalResult"
      :subject="subject"
      :group="group"
      :semestr="exam_info.semestr"
      :result="exam_info.final_result" />
  </div>
</template>

<style scoped>
table th + th {
  border-left: 1px solid rgba(255, 255, 255, 0.12);
}
table td + td {
  border-left: 1px solid rgba(255, 255, 255, 0.12);
}
table > tbody > tr > td:nth-child(1),
table > thead > tr > th:nth-child(1) {
  position: sticky !important;
  position: -webkit-sticky !important;
  left: 0;
  z-index: 9998;
}
table > thead > tr > th:nth-child(1) {
  z-index: 9999;
}
</style>
