<script>
import dateMixin from "@/mixins/dateMixin.js"
import journalMixin from "@/mixins/journalMixin.js"
import { mapGetters } from "vuex"

export default {
  name: "WorkStudentContent",
  mixins: [dateMixin, journalMixin],
  props: {
    group: {
      type: String,
      required: true,
    },
    subject: {
      type: String,
      required: true,
    },
    data: {
      type: Array,
      required: true,
    },
    works: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      empty: false,
      marks: [],
    }
  },
  created() {
    let students = []
    let studentsWorks = []
    this.data.forEach((el) => {
      studentsWorks.push({
        student: this.getFIO(el.student.user),
        work: el.work.name,
        score: el.score,
      })
      students.push(this.getFIO(el.student.user))
    })
    let tmp = this.unique(students)
    tmp.sort()
    students.length = 0
    students = tmp
    students.forEach((el) => {
      let works = []
      this.getWorksByStudent(el, studentsWorks).forEach((e) => {
        works.push({
          work: e.work,
          score: e.score,
        })
      })
      this.marks.push({
        student: el,
        works: works,
      })
    })
    if (students.length == 0) {
      this.empty = true
    }
  },
  computed: {
    ...mapGetters(["getUser"]),
  },
  methods: {
    currentUser(user) {
      if (this.getFIO(this.getUser) == user) {
        return "current-user"
      }
    },
    checkPercentage(percent) {
      if (parseInt(percent) >= 90) {
        return "great_mark"
      } else if (parseInt(percent) >= 50 && parseInt(percent) < 90) {
        return "good_mark"
      } else {
        return "bad_mark"
      }
    },
  },
}
</script>

<template>
  <div v-if="!empty">
    <v-simple-table class="mt-5">
      <template v-slot:default>
        <thead>
          <tr>
            <th width="350">Студент</th>
            <th class="text-center" width="120">Процент успеваемости</th>
            <th v-for="(work, i) in works" :key="i" class="text-center">
              {{ work.name }} | {{ getDate(work.work_date) }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(user, i) in marks" :key="i" :class="currentUser(user.student)">
            <td>{{ user.student }}</td>
            <td class="text-center" :class="checkPercentage(getWorkPercentage(user.works))">
              {{ getWorkPercentage(user.works) }}
            </td>
            <td v-for="(mark, i) in user.works" :key="i" class="text-center">
              {{ formatedResult(mark.score) }}
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
    <v-card class="mx-auto mt-3 mb-7">
      <v-card-title class="justify-center"> Описание практических работ </v-card-title>
      <v-divider></v-divider>
      <v-expansion-panels accordion>
        <v-expansion-panel v-for="(work, i) in works" :key="i" :class="checkDate(work.work_date)">
          <v-expansion-panel-header>{{ work.name }} </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-simple-table>
              <template v-slot:default>
                <tbody>
                  <tr v-if="checkDate(work.work_date) == 'greater'" class="font-weight-bold">
                    <td><v-icon class="mr-2">update</v-icon>До сдачи работы осталось</td>
                    <td>{{ leftTime(work.work_date) }}</td>
                  </tr>
                  <tr v-else class="font-weight-bold">
                    <td><v-icon class="mr-2">alarm</v-icon>Срок сдачи просрочен на</td>
                    <td>{{ leftTime(work.work_date) }}</td>
                  </tr>
                  <tr>
                    <td><v-icon class="mr-2">article</v-icon>Содержание</td>
                    <td><div class="tiptap-vuetify-editor__content" v-html="work.description" /></td>
                  </tr>
                  <tr>
                    <td><v-icon class="mr-2">event</v-icon>Срок сдачи работы</td>
                    <td>{{ getFullDate(work.work_date) }}</td>
                  </tr>
                  <tr>
                    <td width="350"><v-icon class="mr-2">format_quote</v-icon>Тип работы</td>
                    <td>{{ work.work_type }}</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-card>
  </div>
  <div v-else>
    <h4 class="mt-4 text-center text-xl-h6 text-md-body-1 text-sm-body-2 text-lg-h6 text-caption">
      Информация на данный момент отсутсвует.
    </h4>
  </div>
</template>

<style scoped>
table th + th {
  border-left: 1px solid rgba(255, 255, 255, 0.12);
}
table td + td {
  border-left: 1px solid rgba(255, 255, 255, 0.12);
}
.greater {
  border-left: 7px solid green;
}
.less {
  border-left: 7px solid red;
}
.current-user {
  background-color: rgba(255, 255, 255, 0.2);
}
table > tbody > tr > td:nth-child(1),
table > thead > tr > th:nth-child(1) {
  position: sticky !important;
  position: -webkit-sticky !important;
  left: 0;
  z-index: 9998;
}
table > thead > tr > th:nth-child(1) {
  z-index: 9999;
}
.great_mark {
  color: green;
}
.bad_mark {
  color: red;
}
.good_mark {
  color: yellowgreen;
}
</style>
