<script>
import { mapGetters, mapActions } from "vuex"
import { AtomSpinner } from "epic-spinners"
import UserInfo from "@/components/UserInfo.vue"

export default {
  name: "App",
  components: {
    AtomSpinner,
    UserInfo,
  },
  data: () => ({
    drawer: false,
    group: null,
    load: true,
    links: null,
    btn_load: true,
  }),
  created() {
    this.$vuetify.theme.dark = true
    this.links = this.getLinks
    try {
      this.getDocs()
      this.getTimetable()
      this.checkBackendStatus().then(() => {
        this.readToken()
        this.load = false
      })
    } catch (e) {
      console.log(e)
    }
  },
  computed: {
    ...mapGetters(["getStatus", "getLinks", "getUser"]),
    status() {
      if (this.getStatus == "success") {
        return true
      } else {
        return false
      }
    },
  },
  watch: {
    group() {
      this.drawer = false
    },
  },
  methods: {
    ...mapActions(["getDocs", "getTimetable", "checkBackendStatus", "readToken", "checkCurrentPage"]),
    changePage(page) {
      if (this.$route.path !== `/${page}`) this.$router.push(page)
    },
  },
}
</script>

<template>
  <v-app>
    <v-container class="fill-height" fluid v-if="load">
      <v-row align="center" justify="center">
        <v-col cols="12" sm="8" md="3" lg="2">
          <atom-spinner :animation-duration="1000" :size="300" color="#9C27B0" />
        </v-col>
      </v-row>
    </v-container>
    <div v-else>
      <v-app-bar app color="purple darken-1" style="z-index: 99999">
        <v-app-bar-nav-icon @click.stop="drawer = !drawer" color="white"></v-app-bar-nav-icon>
        <div class="d-flex align-center" @click="changePage('/')" style="cursor: pointer">
          <v-img
            alt="Vuetify Logo"
            class="shrink mr-2"
            contain
            src="https://img.icons8.com/color/344/google-science-journal.png"
            transition="scale-transition"
            width="40" />
          <span style="text-transform: uppercase; color: white">DU</span>
        </div>

        <v-spacer></v-spacer>
        <v-btn @click="$router.push('login')" :disabled="!status" text v-if="getUser == ''">
          <span class="mr-2">Войти</span>
          <v-icon>login</v-icon>
        </v-btn>
        <UserInfo v-else />
      </v-app-bar>
      <v-navigation-drawer v-model="drawer" temporary app style="z-index: 99999">
        <v-list nav dense>
          <v-list-item-group v-model="group" active-class="deep-purple--text text--accent-4">
            <v-list-item
              :disabled="item.disabled"
              v-for="item in links"
              :key="item.name"
              @click="changePage(item.link)">
              <v-list-item-icon>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-icon>
              <v-list-item-title>{{ item.name }}</v-list-item-title>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-navigation-drawer>
      <v-main>
        <router-view />
      </v-main>
      <v-footer padless absolute>
        <v-col class="text-center" cols="12">
          © 2021 - {{ new Date().getFullYear() }} —
          <strong>Developed by NRE</strong>
        </v-col>
      </v-footer>
    </div>
  </v-app>
</template>
