<script>
import dateMixin from "@/mixins/dateMixin.js"
import journalMixin from "@/mixins/journalMixin.js"
import { mapActions } from "vuex"
import {
  TiptapVuetify,
  Heading,
  Bold,
  Italic,
  Strike,
  Underline,
  Code,
  BulletList,
  OrderedList,
  ListItem,
  Image,
  Blockquote,
  HardBreak,
  History,
} from "tiptap-vuetify"

export default {
  name: "LectionTeacherContent",
  components: { TiptapVuetify },
  mixins: [dateMixin, journalMixin],
  props: {
    group: {
      type: String,
      required: true,
    },
    subject: {
      type: String,
      required: true,
    },
    data: {
      type: Array,
      required: true,
    },
    lections: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      empty: false,
      markTypes: ["Был", "Не был"],
      tooltip: false,
      cMark: "",
      marks: [],
      name: "",
      description: "",
      menu: false,
      dialog: false,
      date: new Date(Date.now() - new Date().getTimezoneOffset() * 60000).toISOString().substr(0, 10),
      snackbar: false,
      extensions: [
        History,
        Image,
        [
          Underline,
          {
            renderIn: "bubbleMenu",
          },
        ],
        [
          Strike,
          {
            renderIn: "bubbleMenu",
          },
        ],
        [
          Bold,
          {
            renderIn: "bubbleMenu",
            options: {
              levels: [1, 2, 3],
            },
          },
        ],
        [
          Blockquote,
          {
            renderIn: "bubbleMenu",
          },
        ],
        [
          Italic,
          {
            renderIn: "bubbleMenu",
          },
        ],
        ListItem,
        BulletList,
        OrderedList,
        [
          Heading,
          {
            options: {
              levels: [1, 2, 3],
            },
          },
        ],
        Code,
        HardBreak,
      ],
    }
  },
  watch: {
    tooltip() {
      if (this.tooltip == true) {
        setTimeout(() => {
          this.tooltip = false
        }, 3000)
      }
    },
  },
  created() {
    let students = []
    let studentsLections = []
    this.data.forEach((el) => {
      studentsLections.push({
        student: this.getFIO(el.student.user),
        lection: el.lection,
        score: el.score,
        pk: el.pk,
      })
      students.push(this.getFIO(el.student.user))
    })
    let tmp = this.unique(students)
    tmp.sort()
    students.length = 0
    students = tmp
    students.forEach((el) => {
      let lections = []
      this.getLectionsByStudent(el, studentsLections).forEach((e) => {
        lections.push({
          pk: e.pk,
          lection: e.lection,
          score: e.score,
          editable: false,
        })
      })
      this.marks.push({
        student: el,
        lections: lections,
      })
    })
    if (students.length === 0) {
      this.empty = true
    }
  },
  methods: {
    ...mapActions(["updateLectionMark", "createLection", "updateLection"]),
    checkPercentage(percent) {
      if (parseInt(percent) >= 90) {
        return "great_mark"
      } else if (parseInt(percent) >= 50 && parseInt(percent) < 90) {
        return "good_mark"
      } else {
        return "bad_mark"
      }
    },
    editItem(item) {
      item.editable = true
      this.cMark = item.score
    },
    saveItem(item) {
      item.score = this.cMark
      this.updateLectionMark({ pk: item.pk, mark: item.score })
      item.editable = false
      this.tooltip = true
    },
    addLection() {
      if ((this.name != "", this.description != "")) {
        let data = {
          name: this.name,
          description: this.description,
          subject: this.subject,
          lection_date: this.date,
        }
        this.createLection(data).then(() => {
          this.dialog = false
          this.$router.go()
        })
      } else {
        this.snackbar = true
      }
    },
    editLection(data) {
      data.editable = true
    },
    saveLection(data) {
      let res = {
        pk: data.pk,
        name: data.name,
        lection_date: data.lection_date,
        description: data.description,
      }
      this.updateLection(res)
      data.editable = false
    },
  },
}
</script>

<template>
  <div v-if="!empty">
    <v-alert :value="tooltip" elevation="3" outlined dense dismissible type="success" class="mt-2"
      >Оценка успешно выставлена</v-alert
    >
    <v-simple-table class="mt-5 br">
      <template v-slot:default>
        <thead>
          <tr>
            <th width="350">Студент</th>
            <th class="text-center" width="120">Процент посещаемости</th>
            <th v-for="(lection, i) in lections" :key="i" class="text-center">
              {{ lection.name }} | {{ getDate(lection.lection_date) }}
            </th>
            <th class="text-center" width="75">
              <v-dialog v-model="dialog" width="750">
                <template v-slot:activator="{ on, attrs }">
                  <span v-bind="attrs" v-on="on"><v-icon>add</v-icon>Добавить</span>
                </template>

                <v-card>
                  <v-card-title>Добавление лекции</v-card-title>
                  <v-card-text>
                    <v-text-field
                      label="Название"
                      :counter="50"
                      v-model="name"
                      prepend-icon="speaker_notes"></v-text-field>
                    <v-menu
                      ref="menu"
                      v-model="menu"
                      :close-on-content-click="false"
                      :return-value.sync="date"
                      transition="scale-transition"
                      offset-y
                      min-width="auto">
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="date"
                          label="Выберите дату проведения лекции"
                          prepend-icon="mdi-calendar"
                          readonly
                          v-bind="attrs"
                          v-on="on"></v-text-field>
                      </template>
                      <v-date-picker
                        v-model="date"
                        no-title
                        scrollable
                        locale="ru-ru"
                        color="purple darken-1"
                        show-adjacent-months>
                        <v-spacer></v-spacer>
                        <v-btn text color="primary" @click="menu = false"> Отмена </v-btn>
                        <v-btn text color="primary" @click="$refs.menu.save(date)"> OK </v-btn>
                      </v-date-picker>
                    </v-menu>
                    <tiptap-vuetify
                      v-model="description"
                      :extensions="extensions"
                      placeholder="Содержание лекции"
                      :toolbar-attributes="{ color: 'purple darken-1' }" />
                  </v-card-text>
                  <v-snackbar v-model="snackbar" color="error" absolute>
                    Нужно заполнить все данные

                    <template v-slot:action="{ attrs }">
                      <v-btn color="pink" text v-bind="attrs" @click="snackbar = false"> Закрыть </v-btn>
                    </template>
                  </v-snackbar>
                  <v-divider></v-divider>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" text @click="addLection()"> Добавить </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, i) in marks" :key="i">
            <td>{{ item.student }}</td>
            <td class="text-center" :class="checkPercentage(getLectionPercentage(item.lections))">
              {{ getLectionPercentage(item.lections) }}
            </td>
            <td v-for="(mark, i) in item.lections" :key="i">
              <v-layout justify-center class="ml-5">
                <v-col cols="12">
                  <v-select
                    v-model="cMark"
                    :items="markTypes"
                    label="Оценка"
                    outlined
                    dense
                    hide-details="auto"
                    v-if="mark.editable"
                    ><template v-slot:selection="{ item }">
                      <span class="d-flex justify-center">
                        {{ item }}
                      </span>
                    </template></v-select
                  >
                  <span v-else>{{ formatedResult(mark.score) }}</span></v-col
                >
                <v-col
                  ><v-icon @click="editItem(mark)" v-if="!mark.editable">edit</v-icon
                  ><v-icon @click="saveItem(mark)" v-else>done</v-icon></v-col
                >
              </v-layout>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
    <v-card class="mx-auto mt-3 mb-7">
      <v-card-title class="justify-center"> Описание лекций </v-card-title>
      <v-divider></v-divider>
      <v-expansion-panels accordion>
        <v-expansion-panel v-for="(lection, i) in lections" :key="i">
          <v-expansion-panel-header>{{ lection.name }}</v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-simple-table>
              <template v-slot:default>
                <tbody>
                  <tr v-if="lection.editable">
                    <td width="350">Название</td>
                    <td><v-text-field label="Название" :counter="50" v-model="lection.name"></v-text-field></td>
                  </tr>
                  <tr>
                    <td><v-icon class="mr-2">article</v-icon>Содержание</td>
                    <td v-if="!lection.editable">
                      <div class="tiptap-vuetify-editor__content" v-html="lection.description" />
                    </td>
                    <td v-else>
                      <tiptap-vuetify
                        v-model="lection.description"
                        :extensions="extensions"
                        placeholder="Содержание лекции"
                        :toolbar-attributes="{ color: 'purple darken-1' }" />
                    </td>
                  </tr>
                  <tr>
                    <td width="350"><v-icon class="mr-2">event</v-icon>Дата проведения лекции</td>
                    <td v-if="!lection.editable">{{ getFullDate(lection.lection_date) }}</td>
                    <td v-else>
                      <v-date-picker
                        v-model="lection.lection_date"
                        no-title
                        scrollable
                        locale="ru-ru"
                        color="purple darken-1"
                        show-adjacent-months>
                      </v-date-picker>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
            <v-btn color="primary" class="mt-5" text @click="editLection(lection)" v-if="!lection.editable">
              Изменить
            </v-btn>
            <v-btn color="primary" class="mt-5" text @click="saveLection(lection)" v-else> Сохранить </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-card>
  </div>
  <div v-else>
    <v-dialog v-model="dialog" width="750">
      <template v-slot:activator="{ on, attrs }">
        <h4 class="mt-4 text-center text-xl-h6 text-md-body-1 text-sm-body-2 text-lg-h6 text-caption">
          Информация о посещаемости студентов отсутсвует, добавьте хотя бы одну лекцию.
        </h4>
        <v-layout justify-center>
          <v-card-actions>
            <v-btn outlined v-bind="attrs" v-on="on"> <v-icon>add</v-icon>Добавить </v-btn>
          </v-card-actions>
        </v-layout>
      </template>

      <v-card>
        <v-card-title>Добавление лекции</v-card-title>
        <v-card-text>
          <v-text-field label="Название" :counter="50" v-model="name" prepend-icon="speaker_notes"></v-text-field>
          <v-menu
            ref="menu"
            v-model="menu"
            :close-on-content-click="false"
            :return-value.sync="date"
            transition="scale-transition"
            offset-y
            min-width="auto">
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="date"
                label="Выберите дату проведения лекции"
                prepend-icon="mdi-calendar"
                readonly
                v-bind="attrs"
                v-on="on"></v-text-field>
            </template>
            <v-date-picker
              v-model="date"
              no-title
              scrollable
              locale="ru-ru"
              color="purple darken-1"
              show-adjacent-months>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="menu = false"> Отмена </v-btn>
              <v-btn text color="primary" @click="$refs.menu.save(date)"> OK </v-btn>
            </v-date-picker>
          </v-menu>
          <tiptap-vuetify
            v-model="description"
            :extensions="extensions"
            placeholder="Содержание лекции"
            :toolbar-attributes="{ color: 'purple darken-1' }" />
        </v-card-text>
        <v-snackbar v-model="snackbar" color="error" absolute>
          Нужно заполнить все данные

          <template v-slot:action="{ attrs }">
            <v-btn color="pink" text v-bind="attrs" @click="snackbar = false"> Закрыть </v-btn>
          </template>
        </v-snackbar>
        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="addLection()"> Добавить </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<style scoped>
table th + th {
  border-left: 1px solid rgba(255, 255, 255, 0.12);
}
table td + td {
  border-left: 1px solid rgba(255, 255, 255, 0.12);
}
table > tbody > tr > td:nth-child(1),
table > thead > tr > th:nth-child(1) {
  position: sticky !important;
  position: -webkit-sticky !important;
  left: 0;
  z-index: 9998;
}
table > thead > tr > th:nth-child(1) {
  z-index: 9999;
}
.great_mark {
  color: green;
}
.bad_mark {
  color: red;
}
.good_mark {
  color: yellowgreen;
}
</style>
