<script>
import { mapGetters } from "vuex"
import StudentDashboard from "@/components/Dashboard/StudentDashboard.vue"
import TeacherDashboard from "@/components/Dashboard/TeacherDashboard.vue"

export default {
  name: "Dashboard",
  components: {
    StudentDashboard,
    TeacherDashboard,
  },
  data: () => ({
    load: true,
  }),
  created() {
    this.$store.watch(
      /* eslint-disable */
      (state) => {
        return this.getUser
      },
      (val) => {
        this.load = false
      },
      {
        deep: true,
      },
    )
  },
  computed: {
    ...mapGetters(["getRole", "getUser"]),
  },
}
</script>

<template>
  <v-container>
    <v-col>
      <StudentDashboard v-if="getRole == 'Student'" />
      <TeacherDashboard v-else-if="getRole == 'Teacher'" />
      <v-skeleton-loader
        class="mx-auto"
        type="card-heading, divider, list-item-three-line, divider, list-item-three-line, divider, list-item-three-line, divider, list-item-three-line, divider, list-item-three-line"
        v-if="getRole === '' && load"></v-skeleton-loader>
    </v-col>
  </v-container>
</template>
