<script>
import { mapGetters } from "vuex"
import DocumentContent from "@/components/DocumentContent.vue"

export default {
  name: "Documents",
  components: {
    DocumentContent,
  },
  data() {
    return {
      docs: [],
      search: "",
    }
  },
  created() {
    this.docs = this.docsGet
  },
  watch: {
    search() {
      if (this.search === null) {
        this.search = ""
      }
    },
  },
  computed: {
    ...mapGetters(["docsGet"]),
    getDocsNames() {
      return this.docs.map((el) => {
        return `${el.code} - ${el.name}`
      })
    },
    filteredSearch() {
      if (this.search !== "") {
        return this.docs.filter((doc) => {
          return doc.name == this.search.substr(11)
        })
      } else {
        return this.docs
      }
    },
  },
  methods: {
    getRightNames(item) {
      return item == "ФГОС ВО 3+" ? `${item} (до 2018 года поступления)` : `${item} (c 2019 года поступления)`
    },
  },
}
</script>

<template>
  <v-container>
    <v-col>
      <v-row justify="center"
        ><h1 class="mt-4 text-center text-xl-h4 text-md-body-1 text-sm-body-2 text-lg-h6 text-caption">Документы</h1>
        <v-container
          ><v-autocomplete v-model="search" label="Поиск" clearable :items="getDocsNames"></v-autocomplete
        ></v-container>
        <v-expansion-panels accordion class="mb-15">
          <v-expansion-panel v-for="(doc, i) in filteredSearch" :key="i">
            <v-expansion-panel-header>{{ doc.code }} - {{ doc.name }}</v-expansion-panel-header>
            <v-expansion-panel-content
              ><v-expansion-panels accordion>
                <v-expansion-panel v-for="(item, i) in doc.value" :key="i">
                  <v-expansion-panel-header> {{ getRightNames(item.name) }}</v-expansion-panel-header>
                  <v-expansion-panel-content
                    ><DocumentContent
                      title="Общая характеристика"
                      :items="item.characteristic"
                      v-if="item.characteristic.length > 0" />
                    <DocumentContent
                      title="Календарный график"
                      :items="item.calendar"
                      v-if="item.calendar.length > 0" />
                    <DocumentContent title="Учебные планы" :items="item.plans" v-if="item.plans.length > 0" />
                    <DocumentContent title="Рабочие программы" :items="item.programs" v-if="item.programs.length > 0" />
                    <DocumentContent
                      title="Отчёты о практиках"
                      :items="item.practicum"
                      v-if="item.practicum.length > 0" />
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-expansion-panel-content>
          </v-expansion-panel> </v-expansion-panels
      ></v-row>
    </v-col>
  </v-container>
</template>
