<script>
import { mapGetters, mapActions } from "vuex"
import ExamTeacherTable from "@/components/Exam/ExamTeacherTable.vue"
import ExamStudentTable from "@/components/Exam/ExamStudentTable.vue"

export default {
  components: { ExamTeacherTable, ExamStudentTable },
  name: "Exam",
  props: {
    group: {
      type: String,
      required: true,
    },
    subject: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      loading: true,
      finalScore: undefined,
    }
  },
  created() {
    this.fetchFinalScore({ group: this.group, subject: this.subject }).then(() => {
      this.finalScore = this.getFinalScore
      this.loading = false
    })
  },

  methods: {
    ...mapActions(["fetchFinalScore"]),
  },
  computed: {
    ...mapGetters(["getRole", "getFinalScore"]),
  },
}
</script>

<template>
  <v-container>
    <v-col>
      <h1 class="mt-4 text-center text-xl-h4 text-md-body-1 text-sm-body-2 text-lg-h6 text-caption">
        Зачётная ведомость
      </h1>
      <ExamStudentTable :group="group" :subject="subject" :data="finalScore" v-if="getRole == 'Student' && !loading" />
      <ExamTeacherTable
        :group="group"
        :subject="subject"
        :data="finalScore"
        v-else-if="getRole == 'Teacher' && !loading" />
      <v-skeleton-loader class="mx-auto" type="table, divider, card-heading" v-else></v-skeleton-loader>
    </v-col>
  </v-container>
</template>
