<script>
import axios from "axios"
import { mapActions } from "vuex"
import { API } from "@/constants"

export default {
  name: "Login",
  data: () => ({
    valid: true,
    username: "",
    password: "",
    authStatus: true,
    loading: false,
  }),
  methods: {
    ...mapActions(["auth", "createToken"]),
    login() {
      this.loading = true
      if (this.username !== "" && this.password !== "") {
        axios
          .post(API.tokenLogin, { username: this.username, password: this.password })
          .then((response) => {
            this.createToken(response.data.auth_token)
            axios
              .get(API.userMe, {
                headers: {
                  Authorization: "Token " + response.data.auth_token,
                },
              })
              .then((response) => {
                this.auth(response.data.username)
                if (this.$route.query.to === undefined) {
                  this.$router.push("dashboard")
                } else {
                  this.$router.push(this.$route.query.to)
                }
              })
              .catch((e) => {
                console.log(e)
                this.authStatus = false
              })
          })
          .catch((e) => {
            console.log(e)
            this.authStatus = false
          })
      } else {
        this.authStatus = false
      }
      this.loading = false
    },
  },
}
</script>

<template>
  <v-container>
    <v-col>
      <v-row justify="center">
        <v-container>
          <v-card elevation="2" outlined shaped :loading="loading" class="mx-auto" max-width="600">
            <v-card-text
              ><v-form ref="form" v-model="valid" lazy-validation class="login_form">
                <h1 class="mt-4 text-center text-xl-h4 text-md-body-1 text-sm-body-2 text-lg-h6 text-caption">
                  Авторизация
                </h1>
                <v-text-field
                  v-model="username"
                  :rules="[(v) => !!v || 'Имя пользователя обязательно']"
                  label="Имя пользователя"
                  required></v-text-field>

                <v-text-field
                  type="password"
                  v-model="password"
                  :rules="[(v) => !!v || 'Пароль обязателен']"
                  label="Пароль"
                  required></v-text-field>
                <v-alert dense outlined shaped text type="error" dismissible v-if="!authStatus"
                  >Логин или пароль неверный</v-alert
                >
                <v-btn color="success" class="mr-4 login_form__btn" @click="login"> Войти </v-btn>
              </v-form>
            </v-card-text>
          </v-card></v-container
        ></v-row
      >
    </v-col>
  </v-container>
</template>

<style scoped>
.login_form {
  min-width: 40%;
}
.login_form__btn {
  width: 100%;
  border-radius: 24px 4px;
}
</style>
