<script>
export default {
  name: "Main",
  data: () => {
    return { paralax: false, info: false }
  },
}
</script>

<template>
  <v-col class="pa-0">
    <section class="first_paralax">
      <v-parallax
        src="https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1256&q=80"
        height="860">
        <v-layout column align-center justify-center class="white--text">
          <img
            src="https://img.icons8.com/color/344/google-science-journal.png"
            alt="Digital University"
            height="200" />
          <h1 class="white--text mb-2 display-1 text-center">Digital University</h1>
          <div class="white--text subheading mb-4 text-center">Личный кабинет студента и преподавателя</div>
        </v-layout>
      </v-parallax>
    </section>

    <section>
      <v-layout column wrap class="my-12" align-center>
        <v-flex xs12 sm4 class="my-4">
          <div class="text-center">
            <h2 class="headline">Личный кабинет студента и преподавателя твоя возможность не иметь долгов</h2>
          </div>
        </v-flex>
        <v-flex xs12>
          <v-container grid-list-xl>
            <v-layout row wrap align-center>
              <v-flex xs12 md4>
                <v-card flat class="transparent">
                  <v-card-text class="text-center">
                    <v-icon x-large class="icons">dashboard</v-icon>
                  </v-card-text>
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline text-center">Личный кабинет</div>
                  </v-card-title>
                  <v-card-text class="text-center">
                    В личном кабинете вы сможете посмотреть список предметов на текущей семестр, успеваемость и
                    посещаемость.
                  </v-card-text>
                </v-card>
              </v-flex>
              <v-flex xs12 md4>
                <v-card flat class="transparent">
                  <v-card-text class="text-center">
                    <v-icon x-large class="icons">speed</v-icon>
                  </v-card-text>
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline">Информирование о долгах</div>
                  </v-card-title>
                  <v-card-text class="text-center">
                    Как студент, вы можете достаточно быстро узнать свою задолженность по тому или иному предмету.
                  </v-card-text>
                </v-card>
              </v-flex>
              <v-flex xs12 md4>
                <v-card flat class="transparent">
                  <v-card-text class="text-center">
                    <v-icon x-large class="icons">description</v-icon>
                  </v-card-text>
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline text-center">Документы</div>
                  </v-card-title>
                  <v-card-text class="text-center">
                    Каждый студент и преподаватель может зайти на портал цифрового университета и найти нужный ему
                    документ.
                  </v-card-text>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
    </section>

    <section class="second_paralax">
      <v-lazy
        v-model="paralax"
        :options="{
          threshold: 0.5,
        }"
        min-height="200"
        transition="fade-transition">
        <v-parallax
          src="https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1256&q=80"
          height="380">
          <v-layout column align-center justify-center>
            <div class="headline white--text mb-4 text-center">Получить информацию о долгах легче, чем ты думаешь</div>
            <div class="white--text subheading mb-4 text-center">
              Начни пользоваться личным кабинетом студента и преподавателя уже сегодня
            </div>
          </v-layout>
        </v-parallax>
      </v-lazy>
    </section>

    <section>
      <v-container grid-list-xl>
        <v-lazy
          v-model="info"
          :options="{
            threshold: 0.75,
          }"
          min-height="200"
          transition="slide-x-transition">
          <v-layout row wrap justify-center class="my-12">
            <v-flex xs12 sm4>
              <v-card flat class="transparent">
                <v-card-title primary-title class="layout justify-center">
                  <div class="headline">Информация о проекте</div>
                </v-card-title>
                <v-card-text>
                  Веб-сайт, позволяющий студенту просматривать свою успеваемость, долги, посещения занятий, расписание,
                  учебные планы и другие документы. Также с помощью личного кабинета студента можно будет достаточно
                  просто посмотреть и загрузить себе любую практическую работу (контрольную/лабораторную). Для
                  преподавателя личный кабинет даёт возможность в удобном формате отмечать посещаемость студентов на
                  занятиях, отмечать выполнение работ, а так же проставлять оценки за зачёты и экзамены и генерировать
                  ведомость в пдф.
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex xs12 sm4 offset-sm1 class="contacts">
              <v-card flat class="transparent">
                <v-card-title primary-title class="layout justify-center">
                  <div class="headline">Наши контакты</div>
                </v-card-title>
                <v-list class="transparent">
                  <v-list-item>
                    <v-list-item-action>
                      <v-icon class="icons">mdi-phone</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                      <v-list-item-title>8(800)555-35-35</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-action>
                      <v-icon class="icons">mdi-map-marker</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                      <v-list-item-title>Сургут, Россия, Ленина, 1</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-action>
                      <v-icon class="icons">mdi-email</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                      <v-list-item-title>email@surgu.ru</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-card>
            </v-flex>
          </v-layout>
        </v-lazy>
      </v-container>
    </section>
  </v-col>
</template>
