<script>
export default {
  name: "TestData",
  data: () => {
    return {
      items: [
        { username: "student", password: "tnmZ9ThvkM4PgDx", status: "Студент" },
        { username: "teacher", password: "qXvXi9hV5zsX88E", status: "Преподаватель" },
      ],
    }
  },
}
</script>

<template>
  <v-container>
    <v-col>
      <v-row justify="center">
        <h1 class="mt-4 text-center text-xl-h4 text-md-body-1 text-sm-body-2 text-lg-h6 text-caption">
          Данные пользователей для тестирования
        </h1>
        <v-container
          ><v-card class="mx-auto" v-for="(item, i) in items" :key="i"
            ><v-card-title>{{ item.status }}</v-card-title>
            <v-divider></v-divider>
            <v-card-text>
              <div class="text-subtitle-1">Логин: {{ item.username }}</div>
              <div class="text-subtitle-1">Пароль: {{ item.password }}</div>
            </v-card-text>
          </v-card>
        </v-container>
      </v-row>
    </v-col>
  </v-container>
</template>
