<script>
import { mapGetters } from "vuex"
import counter from "@/utils/counter.js"
import DocumentViewer from "@/components/DocumentViewer.vue"

export default {
  name: "Timetable",
  components: {
    DocumentViewer,
  },
  data() {
    return {
      searchCount: "",
      search: "",
      searchStatus: false,
      grades: ["Бакалавриат, Специалитет", "Магистратура"],
      institutes: [
        "Институт государства и права",
        "Институт гуманитарного образования и спорта",
        "Институт естественных и технических наук",
        "Институт экономики и управления",
        "Медицинский институт",
        "Политехнический институт",
      ],
      timetables: [],
    }
  },
  created() {
    this.timetables = this.timetableGet
  },
  watch: {
    search() {
      if (this.search == "") {
        this.searchStatus = false
      } else if (this.search === null) {
        this.search = ""
      } else {
        this.filterTimetable()
      }
    },
  },
  methods: {
    getTimetable(grade, institute) {
      return this.timetables.filter((timetable) => {
        return timetable.grade_type == grade && timetable.institute == institute
      })
    },
    filterTimetable() {
      this.searchStatus = true
      const results = this.timetables.filter((timetable) => {
        return (
          timetable.grade_type == this.search || timetable.institute == this.search || timetable.name == this.search
        )
      })
      this.searchCounter(results.length)
      return results
    },
    searchCounter(n) {
      let elements = ["элемент", "элемента", "элементов"]
      let finds = ["Нашёлся", "Нашлось", "Нашлось"]
      this.searchCount = `${counter(n, finds)} ${n} ${counter(n, elements)}`
    },
  },
  computed: {
    ...mapGetters(["timetableGet"]),
    getTimetableNames() {
      return this.timetables.map((el) => {
        return el.name
      })
    },
    getSearchItems() {
      let results = []
      this.grades.forEach((el) => {
        results.push(el)
      })
      this.institutes.forEach((el) => {
        results.push(el)
      })
      this.getTimetableNames.forEach((el) => results.push(el))
      return results
    },
  },
}
</script>

<template>
  <v-container
    ><v-col
      ><v-row justify="center">
        <h1 class="mt-4 text-center text-xl-h4 text-md-body-1 text-sm-body-2 text-lg-h6 text-caption">
          Расписание на 2021 - 2022 учебный год
        </h1>
        <v-container
          ><v-autocomplete v-model="search" label="Поиск" clearable :items="getSearchItems"></v-autocomplete
          ><span v-if="searchStatus">{{ searchCount }}</span></v-container
        >
        <v-expansion-panels accordion class="mb-15" v-if="!searchStatus">
          <v-expansion-panel v-for="(grade, i) in grades" :key="i">
            <v-expansion-panel-header>{{ grade }}</v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-expansion-panels accordion>
                <v-expansion-panel v-for="(institute, i) in institutes" :key="i">
                  <v-expansion-panel-header>{{ institute }}</v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <v-card class="mx-auto">
                      <v-list>
                        <v-list-item-group>
                          <v-list-item v-for="(timetable, i) in getTimetable(grade, institute)" :key="i">
                            <v-list-item-content>
                              <v-list-item-title class="text-wrap">
                                <v-layout
                                  ><DocumentViewer :fileName="timetable.name" :url="timetable.link" icon="today" />
                                  <v-spacer></v-spacer>
                                  <v-btn text :href="timetable.link"
                                    >Скачать<v-icon class="ml-3">download</v-icon></v-btn
                                  ></v-layout
                                >
                              </v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>
                        </v-list-item-group>
                      </v-list>
                    </v-card>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
        <v-expansion-panels accordion class="mb-15" v-else>
          <v-card style="width: 100%">
            <v-list>
              <v-list-item-group>
                <v-list-item v-for="(timetable, i) in filterTimetable()" :key="i">
                  <v-list-item-content>
                    <v-list-item-title class="text-wrap">
                      <DocumentViewer :fileName="timetable.name" :url="timetable.link" icon="today" />
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-card>
        </v-expansion-panels> </v-row></v-col
  ></v-container>
</template>
