<script>
import { mapGetters, mapActions } from "vuex"
import LectionStudentContent from "@/components/Lection/LectionStudentContent.vue"
import LectionTeacherContent from "@/components/Lection/LectionTeacherContent.vue"

export default {
  name: "Visit",
  components: {
    LectionStudentContent,
    LectionTeacherContent,
  },
  props: {
    group: {
      type: String,
      required: true,
    },
    subject: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      loading: true,
      lectionScore: undefined,
    }
  },
  created() {
    this.fetchLectionScore({ group: this.group, subject: this.subject }).then(() => {
      this.lectionScore = this.getLectionScore
      this.loading = false
    })
  },

  methods: {
    ...mapActions(["fetchLectionScore"]),
  },
  computed: {
    ...mapGetters(["getRole", "getLectionScore", "getLections"]),
  },
}
</script>

<template>
  <v-container>
    <v-col>
      <h1 class="mt-4 text-center text-xl-h4 text-md-body-1 text-sm-body-2 text-lg-h6 text-caption">
        Посещаемость группы {{ group }} по дисциплине {{ subject }}
      </h1>
      <LectionStudentContent
        :group="group"
        :subject="subject"
        :data="lectionScore"
        :lections="getLections"
        v-if="getRole == 'Student' && !loading" />
      <LectionTeacherContent
        :group="group"
        :subject="subject"
        :data="lectionScore"
        :lections="getLections"
        v-else-if="getRole == 'Teacher' && !loading" />
      <v-skeleton-loader class="mx-auto" type="table, divider, card-heading" v-else></v-skeleton-loader>
    </v-col>
  </v-container>
</template>
