<script>
import { mapGetters, mapActions } from "vuex"
import WorkStudentContent from "@/components/Work/WorkStudentContent.vue"
import WorkTeacherContent from "@/components/Work/WorkTeacherContent.vue"

export default {
  components: {
    WorkStudentContent,
    WorkTeacherContent,
  },
  name: "Works",
  props: {
    group: {
      type: String,
      required: true,
    },
    subject: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      loading: true,
      worksScore: undefined,
    }
  },
  created() {
    this.fetchWorksScore({ group: this.group, subject: this.subject }).then(() => {
      this.worksScore = this.getWorksScore
      this.loading = false
    })
  },

  methods: {
    ...mapActions(["fetchWorksScore"]),
  },
  computed: {
    ...mapGetters(["getRole", "getWorksScore", "getWorks"]),
  },
}
</script>

<template>
  <v-container>
    <v-col>
      <h1 class="mt-4 text-center text-xl-h4 text-md-body-1 text-sm-body-2 text-lg-h6 text-caption">
        Практические работы группы {{ group }} по дисциплине {{ subject }}
      </h1>
      <WorkStudentContent
        :group="group"
        :subject="subject"
        :data="worksScore"
        :works="getWorks"
        v-if="getRole == 'Student' && !loading" />
      <WorkTeacherContent
        :group="group"
        :subject="subject"
        :data="worksScore"
        :works="getWorks"
        v-else-if="getRole == 'Teacher' && !loading" />
      <v-skeleton-loader class="mx-auto" type="table, divider, card-heading" v-else></v-skeleton-loader>
    </v-col>
  </v-container>
</template>
